<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>One Piece</title>
</head>
<body>
    <h1>One Piece</h1>
    <img src="/static/luffy_statue.jpg" height="320px"  alt="">
    <h2>About Monkey.D.Luffy</h2>
    <p>Monkey D. Luffy, the main protagonist of the popular anime and manga series 
        "One Piece" by Eiichiro Oda, is the cheerful and determined captain of the 
        Straw Hat Pirates. His ultimate dream is to find the legendary treasure, 
        the One Piece, and become the King of the Pirates. Luffy gained the ability 
        to stretch his body like rubber after consuming the Gomu Gomu no Mi (Gum-Gum Fruit), 
        which, along with his exceptional combat skills and Haki, makes him a formidable fighter. 
        Known for his carefree nature, strong sense of justice, and unwavering loyalty to his 
        friends, Luffy is easily recognizable by his iconic straw hat, red vest, blue shorts, 
        and sandals. His adventures across the Grand Line are filled with thrilling battles 
        and encounters with powerful adversaries, all while he and his crew strive to achieve their dreams.
    </p>
    <button>Get into Greatest Piece of Fiction</button>
</body>
</html>